@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local('Fraunces'), url('../fonts/Fraunces[SOFT,WONK,opsz,wght].woff') format('woff');
}
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local('Fraunces'), url('../fonts/frauncessoftwonkopszwght.woff') format('woff');
}
@font-face {
    font-family: 'Fraunces';
    font-style: italic;
    font-weight: 900;
    src: local('Fraunces'), url('../fonts/Fraunces-Italic[SOFT,WONK,opsz,wght].woff') format('woff');
}
@font-face {
    font-family: 'Fraunces';
    font-style: italic;
    font-weight: 900;
    src: local('Fraunces'), url('../fonts/fraunces-italicsoftwonkopszwght.woff') format('woff');
}


